

#allContent{

    display:flex;

    justify-content: space-around;
    
}


header{

    display: flex;
    justify-content: center;

    border:solid;
    background-color: bisque;
    border-color:bisque;

    margin-bottom:50px;


}

#mainContent{

    display: flex;
    align-items: center;
    flex-direction: column;

}


#searchSection{

    display:flex;

}

#inputBox{

    height:30px;
    margin-top:auto;
    margin-bottom:auto;
    margin-left:10px;
    width:300px;

    background-color:ghostwhite;
    border-color:ghostwhite;

}


#mainButtonContainer{

    display:flex;
    margin-bottom:50px;
}

#mainButton{

    width:250px;
    height:50px;

    border:none;
    background-color:rgb(231, 184, 184);
    border-radius:20px;

}

#mainButton:hover{

    cursor: pointer;
    opacity:.9;

}


#informationDisplay{


    border:solid;
    border-radius:20px;

    padding:20px;

    width:700px;
    height:200px;

    display: flex;
    justify-content: space-around;


}

#weatherCondition{

    display:flex;
    width:200px;
    height:200px;
    
    
    background-color:rgb(238, 227, 227);



}


#nextFiveDays{

    margin-top:30px;
    display: flex;

    

    

}

.dayCard{

    width:auto;
    height:250px;

    padding-left:10px;
    padding-right:60px;
    
    
    background-color: bisque;

    margin-left:10px;
    margin-right:10px;

    
    
   
   

}

#sideContent{

    display: flex;
    flex-direction: column;
    align-items: center;

}

#recentSearchHeader{

    width:500px;
    padding:20px;

    font-size: x-large;

}

.searchHistoryButton{

    text-align: center;
    background-color:rgb(231, 184, 184);
    padding:10px;
    border:none;
    border-radius:20px;
    font-size:20px;
    width:500px;
    margin-bottom:10px;
    

}

.searchHistoryButton:hover{


    cursor:pointer;
    opacity:.9;

}